@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

*{
  font-family: Outfit;
}

html.theme-transitioning *,
html.theme-transitioning *::before,
html.theme-transitioning *::after{
  transition-property: color, background-color, border-color, fill, stroke, box-shadow;
  transition-duration: 520ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html.theme-transitioning,
html.theme-transitioning body{
  transition: background-color 520ms cubic-bezier(0.4, 0, 0.2, 1), color 520ms cubic-bezier(0.4, 0, 0.2, 1);
}
